<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{range .Story}}
<p>
    {{printf "%s" .}}
</p>
{{end}}
<table cellspacing="100">
    <tr>
        {{range .Options}}
            <td>
                <a href="/{{.Arc}}">{{.Text}}</a>
            </td>
        {{end}}
    </tr>
</table>
</body>
</html>